#network-chart {
	width:1300px;
	height:900px;
}
.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}

.candidate {
	font-size: 15px;
	font-weight: bold;
	text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;	
}

.relationship {
	font-size: 12px;
	text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;		
}

.tooltip2 {
	background-color: white;
	border: 1px solid gray;
	padding: 5px;
	opacity: 1 !important;
}

.tooltip2 h1 {
	font-size: 12px;
	font-family: Verdana, Geneva, sans-serif;
}

.tooltip2 a {
	font-size: 10px;
	font-family: Verdana, Geneva, sans-serif;
}

